<app-navbar></app-navbar>
<div class="container" *ngIf="landlordDetails !=null && landlordDetails != undefined">
  <div class="top">
    <h2>Your Profile</h2>

  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">Landlord Id</div>
        <div class="card-body">{{landlordDetails._id}}</div>
      </div>
      <div class="card">
        <div class="card-header">Landlord Name</div>
        <div class="card-body">{{landlordDetails.landlord_name}}</div>
      </div>

      <div class="card">
        <div class="card-header">Phone(work)</div>
        <div class="card-body">{{landlordDetails.landlord_phone_work}}</div>
      </div>

      <div class="card">
        <div class="card-header">Phone(home)</div>
        <div class="card-body">{{landlordDetails.landlord_phone_home}}</div>
      </div>

      <div class="card">
        <div class="card-header">Phone(mobile)</div>
        <div class="card-body">{{landlordDetails.landlord_phone_mobile}}</div>
      </div>

      <div class="card">
        <div class="card-header">Email</div>
        <div class="card-body">{{landlordDetails.landlord_email}}</div>
      </div>

      <div class="card">
        <div class="card-header">Address</div>
        <div class="card-body">{{landlordDetails.landlord_address}}</div>
      </div>
    </div>

    <div class="col">
      

      <div class="card">
        <div class="card-header">Bank Name</div>
        <div class="card-body">{{landlordDetails.bank_name}}</div>
      </div>

      <div class="card">
        <div class="card-header">Bank Address</div>
        <div class="card-body">{{landlordDetails.bank_address}}</div>
      </div>

      <div class="card">
        <div class="card-header">Bank Email</div>
        <div class="card-body">{{landlordDetails.bank_email}}</div>
      </div>

      <div class="card">
        <div class="card-header">Bank Phone</div>
        <div class="card-body">{{landlordDetails.bank_phone}}</div>
      </div>

      <div class="card">
        <div class="card-header">Bank Fax</div>
        <div class="card-body">{{landlordDetails.bank_fax}}</div>
      </div>

      <div class="card">
        <div class="card-header">BIC</div>
        <div class="card-body">{{landlordDetails.bank_BIC}}</div>
      </div>

      <div class="card">
        <div class="card-header">IBAN</div>
        <div class="card-body">{{landlordDetails.bank_IBAN}}</div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
