<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="assignForm">
        <div class="property">
          <h2>Assign to a Contractor</h2>

          <div class="form-group">
            <label class="sr-only" for="name">Select a Contractor</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user fa-fw" title="Select a Contractor"></i></div>
              </div>
              <select type="text" class="form-control" id="assignContractor" name="assignContractor" required
                formControlName="assignContractor">
                <option *ngFor="let contractor of contractors" [value]="contractor._id">{{contractor.contractor_name}}</option>
              </select>
            </div>
          </div>
        
          <div class="form-group">
            <label class="sr-only" for="importanceLevel">Importance Level</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-exclamation fa-fw" title="Importance Level"></i></div>
              </div>
              <select type="text" class="form-control" id="importanceLevel" name="importanceLevel" required
                formControlName="importanceLevel">
                <option [value]="1">1</option>
                <option [value]="2">2</option>
                <option [value]="3">3</option>
                <option [value]="4">4</option>
                <option [value]="5">5</option>
              </select>
            </div>
          </div>

        </div>
        <br>
        <button class="btn btn-primary" type="submit" [disabled]="!assignForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>