<app-navbar></app-navbar>
<div class="container" *ngIf="userRole == 1">
    <div class="top">
      <h2>View all properties here</h2>
      <form (ngSubmit)="search()" [formGroup]="searchForm">
        <div class="same">
          <select class="form-control search-option" name="searchOption" formControlName="searchOption">
            <option [value]="null">Search by...</option>
            <option value="unit_name">Unit Name</option>
            <option value="address">Address</option>
            <option value="landlord_name">Landlord's Name</option>
          </select>
        </div>
        <div class="same">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search"
            formControlName="search">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="checkSearchForm()"><i class="fa fa-search" title="Search"></i></button>
        <div class="same">
          <button class="btn btn-primary" type="button" (click)="reset()"><i class="fas fa-sync" title="Reset"></i></button>
        </div>
      </form>
    </div>
    <span *ngFor="let property of properties" class="list-group-item">
      <h3>Unit</h3>
      <div class="property-name" *ngIf="property.unit_name != null">{{property.unit_name}}</div>
      <div class="property-id" *ngIf="property.unit_name == null">{{property._id}}</div><br>
      <h3 class="special">Address:</h3>
      <div class="unit-add1">{{property.unit_address1}}</div>
      <div class="unit-add2">{{property.unit_address2}}</div>
      <div class="unit-add3">{{property.unit_address3}}</div>
      <div class="mybut input-group-prepend">
        <button class="but" [routerLink]="['/property-tickets', property._id]"><i placeholder="View Tickets" class="fas fa-eye fa-fw" title="View"></i></button>
        <button class="but" [routerLink]="['/edit-property', property._id]"><i placeholder="Edit" class="fas fa-pencil-alt fa-fw" title="Edit"></i></button>
        <button class="but" (click)="delete(property._id)"><i placeholder="Delete" class="far fa-trash-alt fa-fw" title="Delete"></i></button>
      </div>
      <div class="form-group image">
        <img class="size" src="../../assets/images/properties/{{property.image}}"/>
      </div>
    </span>
  </div>
  
  <div class="container" *ngIf="userRole == 2">
    <div class="top">
      <h2>Your Properties</h2>
    </div>
    <span *ngFor="let unitByLandlordId of unitsByLandlordId" class="list-group-item">
      <h3>Unit</h3>
      <div class="unit-name" *ngIf="unitByLandlordId.unit_name != null">{{unitByLandlordId.unit_name}}</div>
      <div class="unit-id" *ngIf="unitByLandlordId.unit_name == null">{{unitByLandlordId._id}}</div><br>
      <h3 class="special">Address:</h3>
      <div class="unit-add1">{{unitByLandlordId.unit_address1}}</div>
      <div class="unit-add2">{{unitByLandlordId.unit_address2}}</div>
      <div class="unit-add3">{{unitByLandlordId.unit_address3}}</div>
      <div class="mybut input-group-prepend">
        <button class="but" [routerLink]="['/property-tickets', unitByLandlordId._id]"><i placeholder="View" class="fas fa-eye fa-fw"></i></button>
      </div>
      <div class="form-group image">
        <img class="size" src="../../assets/images/properties/{{unitByLandlordId.image}}"/>
      </div>
    </span>
  </div>
<app-footer></app-footer>