h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #696969;
    text-shadow: 2px 2px 2px white;
}

.box {
    margin-bottom: 20px;
    box-shadow: 8px 8px 6px -6px grey;
}


.form-group {
    box-shadow: 8px 8px 6px -6px grey;
    margin-bottom: 30px;
}

.form-control {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    height: 45px;
    color: #696969;
}

.image {
    height: 200px;
    width: 200px;
    border-radius: 10%;
}

.text {
    margin-top: 3px;
}

.size {
    width: 200px;
    height: 200px;
    border-radius: 10%;
}