<app-navbar></app-navbar>
<div class="container">

  <h2>Details</h2>
  <div class="form-group image">
    <img class="size" src="../../assets/images/me.jpg"/>
  </div>

  <div class="form-group">
    <label class="sr-only" for="landlordName">Name</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="far fa-user fa-fw" title="Name"></i></div>
      </div>
      <div class="form-control"><p class="text">Alvin Teo Khai Ming</p></div>
    </div>
  </div>

  <div class="form-group">
    <label class="sr-only" for="landlordPhoneMobile">Phone(mobile)</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-mobile-alt fa-fw" title="Mobile Number"></i></div>
      </div>
      <div class="form-control"><p class="text">083-8024706</p></div>
    </div>
  </div>

  <div class="form-group">

    <label class="sr-only" for="email">E-mail</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-envelope fa-fw" title="Email"></i></div>
      </div>
      <div class="form-control"><p class="text">alvinteo9696@gmail.com</p></div>
    </div>
  </div>

  <div class="form-group">
    <label class="sr-only" for="unitType">Unit Type</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-igloo fa-fw" title="User Role"></i></div>
      </div>
      <div class="form-control"><p class="text">Admin</p></div>
    </div>
  </div>

  <div class="form-group">
    <label class="sr-only" for="address1"><p>Address</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-home fa-fw" title="Address"></i></div>
      </div>
      <div class="form-control"><p class="text">8B, Setanta House, Dublin Road, Dundalk, Co.Louth</p></div>
    </div>
  </div>
</div>
<app-footer></app-footer>