<app-navbar></app-navbar>
<div class="container">
  <div class="top">
    <h2>Units</h2>
  </div>
  <span *ngFor="let unitByLandlordId of unitsByLandlordId" class="list-group-item">
      <h3>Unit</h3>
      <div class="property-name" *ngIf="unitByLandlordId.unit_name!=null">{{unitByLandlordId.unit_name}}</div>
      <div class="property-id" *ngIf="unitByLandlordId.unit_name==null">{{unitByLandlordId._id}}</div>
      <h3 class="special">Address</h3>
      <div class="unit-add1">{{unitByLandlordId.unit_address1}}</div>
      <div class="unit-add2">{{unitByLandlordId.unit_address2}}</div>
      <div class="unit-add3">{{unitByLandlordId.unit_address3}}</div>
    <div class="mybut input-group-prepend">
        <button class="but" [routerLink]="['/edit-property', unitByLandlordId._id]"><i placeholder="Edit" class="fas fa-pencil-alt fa-fw"></i></button>
        <button class="but" (click)="delete(unitByLandlordId._id)"><i placeholder="Delete" class="far fa-trash-alt fa-fw"></i></button>
    </div>
    <div class="form-group image">
      <img class="size" src="../../assets/images/properties/{{unitByLandlordId.image}}"/>
    </div>
  </span>
</div>
<app-footer></app-footer>