<app-navbar></app-navbar>
<div class="container">
    <h2>Tickets Assigned to You</h2>
    <div *ngFor="let ticket of tickets">
      <span *ngIf="ticket.status == 'ASSIGNED'" class="list-group-item">
        Subject :
        <a [routerLink]="['/ticket-details', ticket._id]" class="ticket-name"
          *ngIf="ticket.subject != null ">{{ticket.subject.length >= 20? ticket.subject.substring(0,20)+"...":ticket.subject}}</a>
        <div class="ticket-id" *ngIf="ticket._id == null">{{tickets._id}}</div>

        <div class="pull-right action-buttons input-group-prepend">
          <button type="button" class="btn btn-warning mybut">
            <div>{{ticket.status}}</div>
          </button>
        </div>
      </span>
    </div>


  <hr>
  <div>
    <h2>Tickets In Progress</h2>
    <div *ngFor="let ticket of tickets">
      <span *ngIf="ticket.status == 'IN_PROGRESS'" class="list-group-item">
        Subject :
        <a [routerLink]="['/ticket-details', ticket._id]" class="ticket-name"
          *ngIf="ticket.subject != null ">{{ticket.subject.length >= 20? ticket.subject.substring(0,20)+"...":ticket.subject}}</a>
        <div class="ticket-id" *ngIf="ticket._id == null">{{tickets._id}}</div>

        <div class="pull-right action-buttons input-group-prepend">
          <button type="button" class="btn btn-primary mybut">
            <div>{{ticket.status}}</div>
          </button>
        </div>
      </span>
    </div>
  </div>

  <hr>
  <div>
    <h2>All Tickets Assigned To You</h2>
    <div *ngFor="let ticket of tickets">
      <span class="list-group-item">
        Subject :
        <a [routerLink]="['/ticket-details', ticket._id]" class="ticket-name"
          *ngIf="ticket.subject != null ">{{ticket.subject.length >= 20? ticket.subject.substring(0,20)+"...":ticket.subject}}</a>
        <div class="ticket-id" *ngIf="ticket._id == null">{{tickets._id}}</div>

        <div class="pull-right action-buttons input-group-prepend">
          <button type="button" class="btn btn-info mybut" *ngIf="ticket.status == 'CREATED'">
            <div>{{ticket.status}}</div>
          </button>
          <button type="button" class="btn btn-danger mybut" *ngIf="ticket.status == 'OPEN'">
            <div>{{ticket.status}}</div>
          </button>
          <button type="button" class="btn btn-warning mybut" *ngIf="ticket.status == 'ASSIGNED'">
            <div>{{ticket.status}}</div>
          </button>
          <button type="button" class="btn btn-primary mybut" *ngIf="ticket.status == 'IN_PROGRESS'">
            <div>{{ticket.status}}</div>
          </button>
          <button type="button" class="btn btn-success mybut" *ngIf="ticket.status == 'FINISHED'">
            <div>{{ticket.status}}</div>
          </button>
          <button type="button" class="btn btn-dark mybut" *ngIf="ticket.status == 'CLOSED'">
            <div>{{ticket.status}}</div>
          </button>
        </div>
      </span>
    </div>
  </div>
</div>
<app-footer></app-footer>