h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #696969;
    text-shadow: 2px 2px 2px white;
}

.container {
    margin-top: 30px;
}

.action-buttons {
    float: right;
}

.list-group-item {
    margin-bottom: 20px;
    box-shadow: 8px 8px 6px -6px grey;
}

.btn-primary {
    margin-left: 20px;
    background-color: #808080;
    border-color: #808080;
    margin-top: -3px;
    transition-duration: 0.4s;
}

.btn-primary:hover {
    background-color: transparent;
    color: black;
    transition-duration: 0.4s;
}

.but {
    height: 36px;
    font-weight: 38px;
    background-color: #e7e7e7;
    margin-left: 10px;
    border-color: #c9c9c9;
    box-shadow: 8px 8px 6px -6px 808080;
    transition-duration: 0.4s;
}

.but:hover {
    
    background-color: white;
    transition-duration: 0.4s;
    
}

.fa-fw {
    font-size: 18px;
    color: #666666;
    transition-duration: 0.4s;
}

.fa-fw:hover {
    font-size: 20px;
    color: #666666;
    transition-duration: 0.4s;
}

.mybut {
    font-family: 'Open Sans', sans-serif;
    margin-top: -2px;
    font-size: 12px;
    width: 103px;
    height: 30px;
    border-radius: 10px;
    opacity: 0.85;
    transition-duration: 0.4s;
    
}

.mybut:hover {
    background-color: transparent;
    color: black;
    transition-duration: 0.4s;
}


.newsame {
    margin-top: 15px;
    margin-bottom: 20px;
}

hr {
    margin-top: 50px;
    margin-bottom: 30px;
}