<app-navbar></app-navbar>
<div class="container">
      <h2>View Tickets</h2>
          <span *ngFor="let ticketByPropertyId of ticketsByPropertyId" class="list-group-item">
            Subject: <a [routerLink]="['/ticket-details', ticketByPropertyId._id]">{{ticketByPropertyId.subject.length >= 20? ticketByPropertyId.subject.substring(0,20)+"...":ticketByPropertyId.subject}}</a>
            <div class="pull-right action-buttons input-group-prepend">
              <button type="button" class="btn btn-info mybut" *ngIf="ticketByPropertyId.status == 'CREATED'">
                  <div>{{ticketByPropertyId.status}}</div>
                </button>
                <button type="button" class="btn btn-danger mybut" *ngIf="ticketByPropertyId.status == 'OPEN'">
                  <div>{{ticketByPropertyId.status}}</div>
                </button>
                <button type="button" class="btn btn-warning mybut" *ngIf="ticketByPropertyId.status == 'ASSIGNED'">
                  <div>{{ticketByPropertyId.status}}</div>
                </button>
                <button type="button" class="btn btn-primary mybut" *ngIf="ticketByPropertyId.status == 'IN_PROGRESS'">
                  <div>{{ticketByPropertyId.status}}</div>
                </button>
                <button type="button" class="btn btn-success mybut" *ngIf="ticketByPropertyId.status == 'FINISHED'">
                  <div>{{ticketByPropertyId.status}}</div>
                </button>
                <button type="button" class="btn btn-dark mybut" *ngIf="ticketByPropertyId.status == 'CLOSED'">
                  <div>{{ticketByPropertyId.status}}</div>
                </button>
              <button class="but" [routerLink]="['/edit-ticket', ticketByPropertyId._id]"><i placeholder="Edit" class="fas fa-pencil-alt fa-fw"></i></button>
              <button class="but" (click)="delete(ticketByPropertyId._id)"><i placeholder="Delete" class="far fa-trash-alt fa-fw"></i></button>
            </div> 
          </span>
</div>
<app-footer></app-footer>
