<!-- <nav class="navbar navbar-fixed-top navbar-light bg-light" ngIf>
    <a class="navbar-brand" href="#">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
            alt="">
        FIXIT
    </a>
</nav> -->
<router-outlet></router-outlet>
