nav {
    background-image: url("../../assets/images/login-background.png");
}

.navbar-brand {
    margin-left: 20px;
}

.navbar img {
    width:35px;
}

.navbar li {
    margin-right: 40px;
}

.logo {
    color: #fff !important;
    font-family: 'Open Sans', sans-serif;
}

.nav-bar button {
    text-align: right;
}

#navbarNav {
    margin-left: 100px;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.btn-dropdown {
    color: #fff !important;
    font-family: 'Open Sans', sans-serif;
}

.dropdown-item{
    color: #000 !important;
}

.logo {
    transition: 0.4s;
}

.logo:hover {
    font-size: 22px;
    transition-duration: 0.4s;
}