<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo" *ngIf="userRole == 1" routerLink="/admin-home"><img src="../../assets/images/logo.png" alt="fixit logo"
   />&nbsp;&nbsp;FiXiT</a>
   <a class="navbar-brand logo" *ngIf="userRole == 2" routerLink="/properties"><img src="../../assets/images/logo.png" alt="fixit logo"
    />&nbsp;&nbsp;FiXiT</a>
    <a class="navbar-brand logo" *ngIf="userRole == 4" routerLink="/contractor-home"><img src="../../assets/images/logo.png" alt="fixit logo"
      />&nbsp;&nbsp;FiXiT</a>

  <button class="navbar-toggler" type="button"  (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target=".navbar-collapse"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="userRole == 1" class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dropdown" id="btn-dropdown" ngbDropdownToggle>Landlords</button>
          <div ngbDropdownMenu aria-labelledby="dropdown">
            <a class="dropdown-item" routerLink="/landlord-form">Add New Landlord <span
                class="sr-only">(current)</span></a>
            <a class="dropdown-item" routerLink="/landlords">View Landlords</a>
          </div>
        </div>
      </li>

      <li *ngIf="userRole == 1" class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dropdown" id="btn-dropdown" ngbDropdownToggle>Properties</button>
          <div ngbDropdownMenu aria-labelledby="dropdown">
            <a class="dropdown-item" routerLink="/property-form">Add New Property</a>
            <a class="dropdown-item" routerLink="/properties">View Properties</a>
          </div>
        </div>
      </li>

      <li *ngIf="userRole == 1" class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dropdown" id="btn-dropdown" ngbDropdownToggle>Contractors</button>
          <div ngbDropdownMenu aria-labelledby="dropdown">
            <a class="dropdown-item" routerLink="/contractor-form">Add New Contractor</a>
            <a class="dropdown-item" routerLink="/contractors">View Contractors</a>
          </div>
        </div>
    </li>

      <li class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-dropdown" id="btn-dropdown" ngbDropdownToggle>Tickets</button>
            <div ngbDropdownMenu aria-labelledby="dropdown">
              <a class="dropdown-item" routerLink="/ticket-form">Create Ticket</a>
              <a class="dropdown-item" *ngIf="userRole == 1" routerLink="/tickets">View Tickets</a>
              <a class="dropdown-item" *ngIf="userRole == 2" routerLink="/your-tickets">View Tickets</a>
            </div>
          </div>
      </li>

      <li *ngIf="userRole == 2" class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-dropdown" id="btn-dropdown" ngbDropdownToggle>Profile</button>
            <div ngbDropdownMenu aria-labelledby="dropdown">
              <a class="dropdown-item" routerLink="/your-profile">View Your Profile</a> 
            </div>
          </div>
      </li>

      <li *ngIf="userRole == 2" class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-dropdown" id="btn-dropdown" ngbDropdownToggle>Your Properties</button>
            <div ngbDropdownMenu aria-labelledby="dropdown">
              <a class="dropdown-item" routerLink="/properties">View Your Properties</a>
            </div>
          </div>
      </li>

      <li *ngIf="userRole == 4" class="nav-item">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-dropdown" id="btn-dropdown" ngbDropdownToggle>Tasks</button>
            <div ngbDropdownMenu aria-labelledby="dropdown">
                <a class="dropdown-item" routerLink="/contractor-home">View Tasks</a>
<!--              <a class="dropdown-item" routerLink="/contractor-home">More Tasks</a>-->
            </div>
          </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-danger" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Log out</button>
      </li>
    </ul>
  </div>
</nav>