<app-navbar></app-navbar>
<div class="container">
  <div class="top">
    <h2>View All Contractors Here</h2>
    <form (ngSubmit)="search()" [formGroup]="searchForm">
      <div class="same">
        <select class="form-control search-option" name="searchOption" formControlName="searchOption">
          <option [value]="null">Search by...</option>
          <option value="contractor_name">Name</option>
          <option value="contractor_email">Email Address</option>
        </select>
      </div>
      <div class="same">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search"
          formControlName="search">
      </div>
      <div class="same">
        <button class="btn btn-primary" type="submit" [disabled]="checkSearchForm()"><i class="fa fa-search" title="Search"></i></button>
      </div>
      <div class="same">
        <button class="btn btn-primary" type="button" (click)="reset()"><i class="fas fa-sync" title="Reset"></i></button>
      </div>
    </form>
  </div>
  <span *ngFor="let contractor of contractors" class="list-group-item">
    <div class="contractor-name" *ngIf="contractor.contractor_name != null">{{contractor.contractor_name}}</div>
    <div class="contractor-id" *ngIf="contractor.contractor_name == null">{{contractor._id}}</div>
    <div class="pull-right action-buttons input-group-prepend">
      <button class="but" [routerLink]="['/edit-contractor', contractor._id]"><i placeholder="Edit"
          class="fas fa-pencil-alt fa-fw" title="Edit"></i></button>
      <button class="but" (click)="delete(contractor._id)"><i placeholder="Delete"
          class="far fa-trash-alt fa-fw" title="Delete"></i></button>
    </div>
  </span>
</div>
<app-footer></app-footer>