<app-navbar></app-navbar>
<div class="container">
  <div class="top">
    <h2>View All Tickets</h2>
    <form (ngSubmit)="search()" [formGroup]="searchForm">
      <div class="same">
        <select class="form-control search-option" name="searchOption" formControlName="searchOption">
          <option [value]=null>Search by...</option>
          <option value="subject">Subject</option>
          <option value="description">Description</option>
          <option value="status">Status</option>
        </select>
      </div>
      <div class="same">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search"
          formControlName="search">
      </div>
      <div class="same">
        <button class="btn btn-primary" type="submit" [disabled]="checkSearchForm()"><i
            class="fa fa-search" title="Search"></i></button>
      </div>
      <div class="same">
        <button class="btn btn-primary" type="button" (click)="reset()"><i class="fas fa-sync"
            title="Reset"></i></button>
      </div>
    </form>

    <form (ngSubmit)="filter()" [formGroup]="filterForm">
      <div class="same newsame">
        <select class="form-control filter-option" name="filterOption" formControlName="filterOption">
          <option [value]="null">Filter by...</option>
          <option value="CREATED">Created</option>
          <option value="OPEN">Open</option>
          <option value="ASSIGNED">Assigned</option>
          <option value="IN_PROGRESS">In Progress</option>
          <option value="FINISHED">Finished</option>
          <option value="CLOSED">Closed</option>
        </select>
      </div>
      <div class="same">
        <button class="btn btn-primary" type="submit" [disabled]="checkFilterForm()"><i class="fas fa-filter"
            title="Filter"></i></button>
      </div>
    </form>

    <form (ngSubmit)="sort()" [formGroup]="sortForm">
      <div class="same same2">
        <select class="form-control sort-option" name="sortOption" formControlName="sortOption">
          <option [value]="null">Sort By...</option>
          <option value=1>Priority Ascending</option>
          <option value=2>Priority Descending</option>
          <option value=3>Subject Ascending</option>
          <option value=4>Subject Descending</option>
          <option value=5>Time Created Ascending</option>
          <option value=6>Time Created Descending</option>
          
        </select>
      </div>
      <div class="same">
        <button class="btn btn-primary" type="submit" [disabled]='checkSortForm()'><i class="fas fa-sort"
            title="Sort"></i></button>
      </div>
    </form>
  </div>


  <div class="row">
    <div class="col">
      <h3>All Tickets</h3>
      <span *ngFor="let ticket of tickets" class="list-group-item">
        Subject:
        <a class="hide" *ngIf="ticket.status == 'OPEN'"
          [routerLink]="['/assign-contractor', ticket._id]">{{ticket.subject.length >= 20? ticket.subject.substring(0,20)+"...":ticket.subject}}</a>
        <a class="hide" *ngIf="ticket.status == 'CREATED' || ticket.status == 'ASSIGNED' ||  ticket.status == 'IN_PROGRESS' || ticket.status == 'FINISHED' || ticket.status == 'CLOSED'"
          [routerLink]="['/ticket-details', ticket._id]">{{ticket.subject.length >= 20? ticket.subject.substring(0,20)+"...":ticket.subject}}</a>
        <div class="pull-right action-buttons input-group-prepend">
          <button type="button" class="btn btn-info mybut" *ngIf="ticket.status == 'CREATED'">
            <div>{{ticket.status}}</div>
          </button>
          <button type="button" class="btn btn-danger mybut" *ngIf="ticket.status == 'OPEN'">
            <div>{{ticket.status}}</div>
          </button>
          <button type="button" class="btn btn-warning mybut" *ngIf="ticket.status == 'ASSIGNED'">
            <div>{{ticket.status}}</div>
          </button>
          <button type="button" class="btn btn-primary mybut" *ngIf="ticket.status == 'IN_PROGRESS'">
            <div>{{ticket.status}}</div>
          </button>
          <button type="button" class="btn btn-success mybut" *ngIf="ticket.status == 'FINISHED'">
            <div>{{ticket.status}}</div>
          </button>
          <button type="button" class="btn btn-dark mybut" *ngIf="ticket.status == 'CLOSED'">
            <div>{{ticket.status}}</div>
          </button>
          <button class="but" [routerLink]="['/edit-ticket', ticket._id]"><i placeholder="Edit"
              class="fas fa-pencil-alt fa-fw" title="Edit"></i></button>
          <button class="but" (click)="delete(ticket._id)"><i placeholder="Delete" class="far fa-trash-alt fa-fw"
              title="Delete"></i></button>
        </div>
      </span>
    </div>
    <div class="col">
      <h3>New Tickets</h3>
      <span *ngFor="let newTicket of newTickets" class="list-group-item">
        Subject: <a class="hide"
          [routerLink]="['/ticket-details', newTicket._id]">{{newTicket.subject.length >= 20? newTicket.subject.substring(0,20)+"...":newTicket.subject}}</a>
        <div class="pull-right action-buttons input-group-prepend">
          <button type="button" class="btn btn-info mybut">
            <div>{{newTicket.status}}</div>
          </button>
          <button class="but" [routerLink]="['/edit-ticket', newTicket._id]"><i placeholder="Edit"
              class="fas fa-pencil-alt fa-fw" title="Edit"></i></button>
          <button class="but" (click)="delete(newTicket._id)"><i placeholder="Delete" class="far fa-trash-alt fa-fw"
              title="Delete"></i></button>
        </div>
      </span>
    </div>
  </div>
</div>
<app-footer></app-footer>