nav {
    background-image: url("../../assets/images/login-background.png");
}

.navbar-brand {
    margin-right: 40px;
}

.navbar img {
    width:35px;
}

.navbar li {
    margin-right: 40px;
}

.navbar a {
    color: white !important;
    font-family: 'Open Sans', sans-serif;
}

.nav-bar button {
    text-align: right;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #696969;
    text-shadow: 2px 2px 2px white;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
    color: #696969;
    text-shadow: 2px 2px 2px white;
}


.action-buttons {
    float: right;
}

.list-group-item {
    margin-bottom: 20px;
    box-shadow: 8px 8px 6px -6px grey;
}

.badge {
    margin-right: 10px;
    color: black;
    height: 23px;
}

.top {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
}

.search-option {
    width: 120px;
    margin-right: 20px;
}

.same {
    display: inline-block;
}

.btn-primary {
    margin-left: 20px;
    background-color: #808080;
    border-color: #808080;
    margin-top: -3px;
    transition-duration: 0.4s;
}

.btn-primary:hover {
    background-color: transparent;
    color: black;
    transition-duration: 0.4s;
}

.but {
    border: none;
    background-color: transparent;
    margin-left: 10px;
}

.fa-fw {
    font-size: 18px;
    color: #666666;
    transition-duration: 0.4s;
}

.fa-fw:hover {
    font-size: 24px;
    color: #666666;
    transition-duration: 0.4s;
}

.mybut {
    font-family: 'Open Sans', sans-serif;
    margin-top: -2px;
    font-size: 12px;
    width: 103px;
    height: 30px;
    border-radius: 10px;
    opacity: 0.85;
    transition-duration: 0.4s;
    
}

.mybut:hover {
    background-color: transparent;
    color: black;
    transition-duration: 0.4s;
}

.newsame {
    margin-top: 15px;
    margin-bottom: 15px;
}

.same2 {
    margin-bottom: 20px;
}