<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="editPropertyForm">
        <div class="property">
            <h2>Edit Property</h2>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="editPropertyForm.controls['unitName'].touched && editPropertyForm.controls['unitName'].invalid">This field can not be blank</div>
            <div class="form-group">
                <label class="sr-only" for="unitName">Unit Name</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user fa-fw" title="Unit Name"></i></div>
                  </div>
                  <input type="text" class="form-control" id="unitName" name="unitName" required formControlName="unitName"
                    placeholder="Unit Name">
                </div>
              </div>

			<div style="color:#ff7a7a" class="help-block " *ngIf="editPropertyForm.controls['address1'].touched && editPropertyForm.controls['address1'].invalid">This field can not be blank</div>
              <div class="form-group">
                <label class="sr-only" for="address1">Address 1</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-home fa-fw" title="Address 1"></i></div>
                  </div>
                  <input type="text" class="form-control" id="address1" name="address1" required formControlName="address1"
                    placeholder="Address 1">
                </div>
              </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="editPropertyForm.controls['address2'].touched && editPropertyForm.controls['address2'].invalid">This field can not be blank</div>
              <div class="form-group">
                <label class="sr-only" for="address2">Address 2</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-home fa-fw" title="Address 2"></i></div>
                  </div>
                  <input type="text" class="form-control" id="address2" name="address2" required formControlName="address2"
                    placeholder="Address 2">
                </div>
              </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="editPropertyForm.controls['address3'].touched && editPropertyForm.controls['address3'].invalid">This field can not be blank</div>
              <div class="form-group">
                <label class="sr-only" for="address3">Address 3</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-home fa-fw" title="Address 3"></i></div>
                  </div>
                  <input type="text" class="form-control" id="address3" name="address3" required formControlName="address3"
                    placeholder="Address 3">
                </div>
              </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="editPropertyForm.controls['unitType'].touched && editPropertyForm.controls['unitType'].invalid">This field can not be blank</div>
              <div class="form-group">
                <label class="sr-only" for="unitType">Unit Type</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-igloo fa-fw" title="Unit Type"></i></div>
                  </div>
                  <select type="text" class="form-control" id="unitType" name="unitType" required formControlName="unitType">
                    <option>Residential</option>
                    <option>Commercial</option>
                  </select>
                </div>
              </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="editPropertyForm.controls['carSpaces'].touched && editPropertyForm.controls['carSpaces'].invalid">Enter a valid number</div>
              <div class="form-group">
                <label class="sr-only" for="carSpaces">Car Spaces</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-car fa-fw" title="Car Spaces"></i></div>
                  </div>
                  <input type="text" class="form-control" id="carSpaces" name="carSpaces" required formControlName="carSpaces"
                    placeholder="Car Spaces" ngModel pattern="[0-9]*">
                </div>
              </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="editPropertyForm.controls['leasedSpaces'].touched && editPropertyForm.controls['leasedSpaces'].invalid">Enter a valid number</div>
              <div class="form-group">
                <label class="sr-only" for="leasedSpaces">Leased Spaces</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fab fa-angellist fa-fw" title="Leased Spaces"></i></div>
                  </div>
                  <input type="text" class="form-control" id="leasedSpaces" name="leasedSpaces" required formControlName="leasedSpaces"
                    placeholder="Leased Spaces" ngModel pattern="[0-9]*">
                </div>
              </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="editPropertyForm.controls['financialYearStart'].touched && editPropertyForm.controls['financialYearStart'].invalid">This field can not be blank</div>
              <div class="form-group">
                <label class="sr-only" for="financialYearStart">Financial Year (Start)</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="far fa-play-circle fa-fw" title="Financial Year (Start)"></i></div>
                  </div>
                  <input type="date" class="form-control" id="financialYearStart" name="financialYearStart" required
                    formControlName="financialYearStart" placeholder="Financial Year (Start)">
                </div>
              </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="editPropertyForm.controls['financialYearEnd'].touched && editPropertyForm.controls['financialYearEnd'].invalid">This field can not be blank</div>
              <div class="form-group">
                <label class="sr-only" for="financialYearEnd">Financial Year (End)</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="far fa-stop-circle fa-fw" title="Financial Year (End)"></i></div>
                  </div>
                  <input type="date" class="form-control" id="financialYearEnd" name="financialYearEnd" required
                    formControlName="financialYearEnd" placeholder="Financial Year (End)">
                </div>
              </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="editPropertyForm.controls['vatNo'].touched && editPropertyForm.controls['vatNo'].invalid">This field can not be blank</div>
              <div class="form-group">
                <label class="sr-only" for="vatNo">VAT Registration No.</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fab fa-vuejs fa-fw" title="VAT Registration No."></i></div>
                  </div>
                  <input type="text" class="form-control" id="vatNo" name="vatNo" required formControlName="vatNo"
                    placeholder="VAT Registration No.">
                </div>
              </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="editPropertyForm.controls['email'].touched && editPropertyForm.controls['email'].invalid">Enter a valid email</div>
              <div class="form-group">
                <label class="sr-only" for="email">E-mail</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-envelope fa-fw" title="E-mail"></i></div>
                  </div>
                  <input type="email" class="form-control" id="email" name="email" required formControlName="email"
                    placeholder="E-mail" ngModel [email]="true" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                </div>
              </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="editPropertyForm.controls['webAddress'].touched && editPropertyForm.controls['webAddress'].invalid">This field can not be blank</div>
              <div class="form-group">
                <label class="sr-only" for="webAddress">Web Address</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fab fa-wordpress fa-fw" title="Web Adress"></i></div>
                  </div>
                  <input type="text" class="form-control" id="webAddress" name="webAddress" required formControlName="webAddress"
                    placeholder="Web Address">
                </div>
              </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="editPropertyForm.controls['financialManagement'].touched && editPropertyForm.controls['financialManagement'].invalid">This field can not be blank</div>
              <div class="form-group">
                <label class="sr-only" for="financialManagement">Financial Management</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="far fa-user fa-fw" title="Financial Management"></i></div>
                  </div>
                  <select type="text" class="form-control" id="financialManagement" name="financialManagement" required
                    formControlName="financialManagement">
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                </div>
              </div>
            </div>
            <br>
            <button class="btn btn-primary" type="submit" [disabled]="!editPropertyForm.valid">Edit</button>
		    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
          </form>
    </div>
  </div>
</div>
<app-footer></app-footer>