.form-group {
    box-shadow: 8px 8px 6px -6px grey;
    margin-bottom: 30px;
}

.form-group input::placeholder {
    font-family: 'Open Sans', sans-serif;
}

.property h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #696969;
    text-shadow: 2px 2px 2px white;
}

.form-group input {
    height: 45px;
}

.btn-primary {
    background-color: #808080;
    border-color: #808080;
    margin-top: -3px;
    transition-duration: 0.4s;
}

.btn-primary:hover {
    background-color: transparent;
    color: black;
    transition-duration: 0.4s;
}