<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="jobReportForm">
        <div class="property">
          <h2>Job Report</h2>

          <div style="color:#ff7a7a" class="help-block "
            *ngIf="jobReportForm.controls['dateCompleted'].touched && jobReportForm.controls['dateCompleted'].invalid">This
            field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="dateCompleted">Date Completed</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-table fa-fw" title="Date Completed"></i></div>
              </div>
              <input type="date" class="form-control" id="dateCompleted" name="dateCompleted" required
                formControlName="dateCompleted" placeholder="Date Completed">
            </div>
          </div>

          <div style="color:#ff7a7a" class="help-block "
            *ngIf="jobReportForm.controls['timeCompleted'].touched && jobReportForm.controls['timeCompleted'].invalid">This
            field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="timeCompleted">Time Completed</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-hourglass-start fa-fw" title="Time Completed"></i></div>
              </div>
              <input type="time" class="form-control" id="timeCompleted" name="timeCompleted" required
                formControlName="timeCompleted" placeholder="Time Completed">
            </div>
          </div>

          <div style="color:#ff7a7a" class="help-block "
            *ngIf="jobReportForm.controls['description'].touched && jobReportForm.controls['description'].invalid">This field
            can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="description">Description</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-bars fa-fw" title="Description"></i></div>
              </div>
              <textarea type="text" class="form-control" id="description" name="description" required
                formControlName="description" rows="8" placeholder="Description"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="sr-only" for="description">Upload</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01" title="Upload Images">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01" name="pic" accept="image/*"
                  (change)="onFileSelected($event)">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
          </div>
        </div>
        <img *ngIf="imagePreview != null" [src]="imagePreview">
        <br>
        <button class="btn btn-primary" type="submit" [disabled]="!jobReportForm.valid || checkValid()">Submit & Complete</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>