<app-navbar></app-navbar>
<div class="container">
  <div class="top">
    <h2>View All Landlords Here</h2>
    <!-- Search form -->
    <form (ngSubmit)="search()" [formGroup]="searchForm">
      <div class="same">
        <select class="form-control search-option" name="searchOption" formControlName="searchOption">
          <option [value]="null">Search by...</option>
          <option value="landlord_name">Name</option>
          <option value="landlord_email">Email Address</option>
        </select>
      </div>
      <div class="same">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search"
          formControlName="search">
      </div>
      <div class="same">
        <button class="btn btn-primary" type="submit" [disabled]="checkSearchForm()"><i class="fa fa-search" title="Search"></i></button>
      </div>
      <div class="same">
        <button class="btn btn-primary" type="button" (click)="reset()"><i class="fas fa-sync" title="Reset"></i></button>
      </div>
    </form>
  </div>

  <span *ngFor="let landlord of landlords" class="list-group-item">
    <a [routerLink]="['/landlord-profile', landlord._id]">
      <div class="landlord-name" *ngIf="landlord.landlord_name != null">{{landlord.landlord_name}}</div>
    </a>
    <div class="landlord-id" *ngIf="landlord.landlord_name == null">{{landlord._id}}</div>
    <div class="pull-right action-buttons input-group-prepend">
      <button class="but" [routerLink]="['/landlord-unit', landlord._id]"><i placeholder="View"
          class="fas fa-eye fa-fw" title="View"></i></button>
      <button class="but" [routerLink]="['/edit-landlord', landlord._id]"><i placeholder="Edit"
          class="fas fa-pencil-alt fa-fw" title="Edit"></i></button>
      <button class="but" (click)="delete(landlord._id)"><i placeholder="Delete"
          class="far fa-trash-alt fa-fw" title="Delete"></i></button>
    </div>
  </span>

</div>
<app-footer></app-footer>