.form-group {
    box-shadow: 8px 8px 6px -6px grey;
    margin-bottom: 30px;
}

.form-group input::placeholder {
    font-family: 'Open Sans', sans-serif;
}

.landlord h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #696969;
    text-shadow: 2px 2px 2px white;
}

.form-group input {
    height: 45px;
}

.bank h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #696969;
    text-shadow: 2px 2px 2px white;
}