<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="contractorForm">
        <div class="landlord">
          <h2>Add a New Contractor</h2>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="contractorForm.controls['contractorName'].touched && contractorForm.controls['contractorName'].invalid">This field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="contractorName">Name</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="far fa-user fa-fw" title="Contractor Name"></i></div>
              </div>
              <input type="text" class="form-control" id="contractorName" name="contractorName" required
                formControlName="contractorName" placeholder="Name">
            </div>
          </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="contractorForm.controls['contractorPhoneWork'].touched && contractorForm.controls['contractorPhoneWork'].invalid">Enter a valid work contact number</div>
          <div class="form-group">
            <label class="sr-only" for="contractorPhoneWork">Phone(work)</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-phone-volume fa-fw" title="Phone (work)"></i></div>
              </div>
              <input type="text" class="form-control" id="contractorPhoneWork" name="contractorPhoneWork" required
                formControlName="contractorPhoneWork" placeholder="Phone (work)" ngModel pattern="[0-9]*">
            </div>
          </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="contractorForm.controls['contractorPhoneHome'].touched && contractorForm.controls['contractorPhoneHome'].invalid">Enter a valid home number</div>
          <div class="form-group">
            <label class="sr-only" for="contractorPhoneHome">Phone(home)</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-phone fa-fw" title="Phone (home)"></i></div>
              </div>
              <input type="text" class="form-control" id="contractorPhoneHome" name="contractorPhoneHome" required
                formControlName="contractorPhoneHome" placeholder="Phone (home)" ngModel pattern="[0-9]*">
            </div>
          </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="contractorForm.controls['contractorPhoneMobile'].touched && contractorForm.controls['contractorPhoneMobile'].invalid">Enter a valid mobile number</div>
          <div class="form-group">
            <label class="sr-only" for="contractorPhoneMobile">Phone(mobile)</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-mobile-alt fa-fw" title="Phone(mobile)"></i></div>
              </div>
              <input type="text" class="form-control" id="contractorPhoneMobile" name="contractorPhoneMobile" required
                formControlName="contractorPhoneMobile" placeholder="Phone (mobile)" ngModel pattern="[0-9]*">
            </div>
          </div>

			<div style="color:#ff7a7a" class="help-block " *ngIf="contractorForm.controls['email'].touched && contractorForm.controls['email'].invalid">Enter a valid email</div>
          <div class="form-group">
            <label class="sr-only" for="email">E-mail</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-envelope fa-fw" title="Contractor's email"></i></div>
              </div>
              <input type="email" class="form-control" id="email" name="email" required formControlName="email"
                placeholder="E-mail" ngModel [email]="true" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            </div>
          </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="contractorForm.controls['address'].touched && contractorForm.controls['address'].invalid">This field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="address">Address</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-home fa-fw" title="Address"></i></div>
              </div>
              <input type="address" class="form-control" id="address" name="address" required formControlName="address"
                placeholder="Address">
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!contractorForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>