.space {
    margin-top: 100px;
    margin-bottom: 50px;
}

.text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 12px;
    color: #696969;
    text-shadow: 2px 2px 2px white;
}