nav {
    background-image: url("../../assets/images/login-background.png");
}

.navbar-brand {
    margin-right: 40px;
}

.navbar img {
    width:35px;
}

.navbar li {
    margin-right: 40px;
}

.navbar a {
    color: white !important;
    font-family: 'Open Sans', sans-serif;
}

.nav-bar button {
    text-align: right;
}

.form-group {
    box-shadow: 8px 8px 6px -6px grey;
    margin-bottom: 30px;
}

.form-group input::placeholder {
    font-family: 'Open Sans', sans-serif;
}

.property h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #696969;
    text-shadow: 2px 2px 2px white;
}

.form-group input {
    height: 45px;
}

.form-group select {
    height: 45px;
}

.form-group select::placeholder {
    font-family: 'Open Sans', sans-serif;
}

.form-group textarea::placeholder {
    font-family: 'Open Sans', sans-serif;
}