<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="ticketForm">
        <div class="property">
          <h2>Create a Ticket</h2>

			<div style="color:#ff7a7a" class="help-block " *ngIf="ticketForm.controls['subject'].touched && ticketForm.controls['subject'].invalid">This field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="name">Subject</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user fa-fw" title="Subject"></i></div>
              </div>
              <input type="text" class="form-control" id="subject" name="subject" required formControlName="subject"
                placeholder="Subject">
            </div>
          </div>

			<div style="color:#ff7a7a" class="help-block " *ngIf="ticketForm.controls['unitName'].touched && ticketForm.controls['unitName'].invalid">This field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="unitName">Select Unit</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-home fa-fw" title="Unit"></i></div>
              </div>
              <select type="text" class="form-control" id="unitName" name="unitName" required
                formControlName="unitName">
                <option [value]="null">Select a Unit</option>
                <option *ngFor="let unit of units" [value]="unit._id">{{unit.unit_name}}</option>
              </select>
            </div>
          </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="ticketForm.controls['contactNumber'].touched && ticketForm.controls['contactNumber'].invalid">Enter a valid phone number</div>
          <div class="form-group">
            <label class="sr-only" for="contactNumber">Contact Number</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-phone-volume fa-fw" title="Contact Number"></i></div>
              </div>
              <input type="text" class="form-control" id="contactNumber" name="contactNumber" required
                formControlName="contactNumber" placeholder="Contact Number" ngModel pattern="[0-9]*">
            </div>
          </div>

			<div style="color:#ff7a7a" class="help-block " *ngIf="ticketForm.controls['dateAvailable'].touched && ticketForm.controls['dateAvailable'].invalid">This field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="dateAvailable">Date Available</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-table fa-fw" title="Date Available"></i></div>
              </div>
              <input type="date" class="form-control" id="dateAvailable" name="dateAvailable" required
                formControlName="dateAvailable" placeholder="Date Available">
            </div>
          </div>

		<div style="color:#ff7a7a" class="help-block " *ngIf="ticketForm.controls['hourAvailable'].touched && ticketForm.controls['hourAvailable'].invalid">This field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="hourAvailable">Time Available</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-hourglass-start fa-fw" title="Time Available"></i></div>
              </div>
              <input type="time" class="form-control" id="hourAvailable" name="hourAvailable" required
                formControlName="hourAvailable" placeholder="Hour Available">
            </div>
          </div>

			<div style="color:#ff7a7a" class="help-block " *ngIf="ticketForm.controls['category'].touched && ticketForm.controls['category'].invalid">This field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="category">Category</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fab fa-cuttlefish fa-fw" title="Category"></i></div>
              </div>
              <select type="text" class="form-control" id="category" name="category" required
                formControlName="category">
                <option [value]="null">Select a Task Category</option>
                <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
              </select>
            </div>
          </div>

			<div style="color:#ff7a7a" class="help-block " *ngIf="ticketForm.controls['description'].touched && ticketForm.controls['description'].invalid">This field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="description">Description</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-bars fa-fw" title="Description"></i></div>
              </div>
              <textarea type="text" class="form-control" id="description" name="description" required
                formControlName="description" rows="8" placeholder="Description"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="sr-only" for="description">Upload</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01" title="Upload Images">Upload</span>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                  aria-describedby="inputGroupFileAddon01" name="pic" accept="image/*" (change)="onFileSelected($event)" >
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
          </div>
        </div>
		  <img *ngIf="imagePreview != null" [src]="imagePreview">
        <br>
        <button class="btn btn-primary" type="submit" [disabled]="!ticketForm.valid || checkValid()">Submit</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>