<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="landlordForm">
        <div class="landlord">
          <h2>Add a new Landlord</h2>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="landlordForm.controls['landlordName'].touched && landlordForm.controls['landlordName'].invalid">This field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="landlordName">Name</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="far fa-user fa-fw" title="Landlord Name"></i></div>
              </div>
              <input type="text" class="form-control" id="landlordName" name="landlordName" required formControlName="landlordName" placeholder="Name" ngModel>
            </div>
          </div>
		
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="landlordForm.controls['landlordPhoneWork'].touched && landlordForm.controls['landlordPhoneWork'].invalid">Enter a valid phone number</div>
          <div class="form-group">
            <label class="sr-only" for="landlordPhoneWork">Phone(work)</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-phone-volume fa-fw" title="Phone (work)"></i></div>
              </div>
              <input type="text" class="form-control" id="landlordPhoneWork" name="landlordPhoneWork" required
                formControlName="landlordPhoneWork" placeholder="Phone (work)" ngModel pattern="[0-9]*">
            </div>
          </div>
			
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="landlordForm.controls['landlordPhoneHome'].touched && landlordForm.controls['landlordPhoneHome'].invalid">Enter a valid home number</div>
          <div class="form-group">
            <label class="sr-only" for="landlordPhoneHome">Phone(home)</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-phone fa-fw" title="Phone (home)"></i></div>
              </div>
              <input type="text" class="form-control" id="landlordPhoneHome" name="landlordPhoneHome" required
                formControlName="landlordPhoneHome" placeholder="Phone (home)" ngModel pattern="[0-9]*">
            </div>
          </div>
			
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="landlordForm.controls['landlordPhoneMobile'].touched && landlordForm.controls['landlordPhoneMobile'].invalid">Enter a valid mobile number</div>
          <div class="form-group">
            <label class="sr-only" for="landlordPhoneMobile">Phone(mobile)</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-mobile-alt fa-fw" title="Phone(mobile)"></i></div>
              </div>
              <input type="text" class="form-control" id="landlordPhoneMobile" name="landlordPhoneMobile" required
                formControlName="landlordPhoneMobile" placeholder="Phone (mobile)" ngModel pattern="[0-9]*">
            </div>
          </div>
			
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="landlordForm.controls['email'].touched && landlordForm.controls['email'].invalid">Please enter a valid email</div>
          <div class="form-group">
            <label class="sr-only" for="email">E-mail</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-envelope fa-fw" title="Landlord's email"></i></div>
              </div>
              <input type="email" class="form-control" id="email" name="email" required formControlName="email"
                placeholder="E-mail" ngModel [email]="true" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            </div>
          </div>

          <div style="color:#ff7a7a" class="help-block " *ngIf="landlordForm.controls['landlordAddress'].touched && landlordForm.controls['landlordAddress'].invalid">This field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="landlordAddress">Address</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-home fa-fw" title="Address"></i></div>
              </div>
              <input type="text" class="form-control" id="landlordAddress" name="landlordAddress" required
                formControlName="landlordAddress" placeholder="Address">
            </div>
          </div>
			
        </div>
<hr/>
        <div class="bank">
            <h2>Bank Details</h2>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="landlordForm.controls['bankName'].touched && landlordForm.controls['bankName'].invalid">This field can not be blank</div>
          <div class="form-group">
              <label class="sr-only" for="bankName">Bank Name</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-university fa-fw" title="Bank Name"></i></div>
                </div>
                <input type="text" class="form-control" id="bankName" name="bankName" required formControlName="bankName"
                  placeholder="Bank Name">
              </div>
          </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="landlordForm.controls['bankAddress'].touched && landlordForm.controls['bankAddress'].invalid">This field can not be blank</div>
          <div class="form-group">
              <label class="sr-only" for="bankAddress">Bank Address</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-map-pin fa-fw" title="Bank Address"></i></div>
                </div>
                <input type="text" class="form-control" id="bankAddress" name="bankAddress" required formControlName="bankAddress"
                  placeholder="Bank Address">
              </div>
          </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="landlordForm.controls['bic'].touched && landlordForm.controls['bic'].invalid">This field can not be blank</div>
          <div class="form-group">
              <label class="sr-only" for="bic">BIC</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fab fa-btc fa-fw" title="BIC"></i></div>
                </div>
                <input type="text" class="form-control" id="bic" name="bic" required formControlName="bic"
                  placeholder="BIC">
              </div>
          </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="landlordForm.controls['iban'].touched && landlordForm.controls['iban'].invalid">This field can not be blank</div>
          <div class="form-group">
              <label class="sr-only" for="iban">IBAN</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-italic fa-fw" title="IBAN"></i></div>
                </div>
                <input type="text" class="form-control" id="iban" name="iban" required formControlName="iban"
                  placeholder="IBAN">
              </div>
          </div>
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="landlordForm.controls['phoneBank'].touched && landlordForm.controls['phoneBank'].invalid">Enter a valid phone number</div>
          <div class="form-group">
              <label class="sr-only" for="phoneBank">Phone (bank)</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-blender-phone fa-fw" title="Phone (bank)"></i></div>
                </div>
                <input type="text" class="form-control" id="phoneBank" name="phoneBank" required formControlName="phoneBank"
                  placeholder="Phone (bank)" ngModel pattern="[0-9]*">
              </div>
          </div>
			
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="landlordForm.controls['emailBank'].touched && landlordForm.controls['emailBank'].invalid">Please enter a valid email</div>
          <div class="form-group">
              <label class="sr-only" for="emailBank">E-mail (bank)</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-envelope-square fa-fw" title="E-mail (bank)"></i></div>
                </div>
                <input type="email" class="form-control" id="emailBank" name="emailBank" required formControlName="emailBank"
                  placeholder="E-mail (bank)" ngModel [email]="true" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              </div>
          </div>
			
			
			<div style="color:#ff7a7a" class="help-block " *ngIf="landlordForm.controls['fax'].touched && landlordForm.controls['fax'].invalid">Enter a valid fax number</div>
          <div class="form-group">
              <label class="sr-only" for="fax">Fax</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fas fa-fax fa-fw" title="Fax"></i></div>
                </div>
                <input type="email" class="form-control" id="fax" name="fax" required formControlName="fax"
                  placeholder="Fax" ngModel pattern="[0-9]*">
              </div>
          </div>
			
			
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!landlordForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>