nav {
    background-image: url("../../assets/images/login-background.png");
}

.navbar-brand {
    margin-left: 20px;
}

.navbar img {
    width:35px;
}

.navbar li {
    margin-right: 40px;
}

.logo {
    color: #fff !important;
    font-family: 'Open Sans', sans-serif;
}

.nav-bar button {
    text-align: right;
}

#navbarNav {
    margin-left: 100px;
}

.btn-dropdown {
    color: #fff !important;
    font-family: 'Open Sans', sans-serif;
}

.dropdown-item{
    color: #000 !important;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #696969;
    text-shadow: 2px 2px 2px white;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 5px;
    color: #696969;
    text-shadow: 2px 2px 2px white;
}

.ticket-id, .ticket-name, .unit-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 15px;
}

.special {
    margin-top: 20px;
}

.landlord-name, .landlord-id, .action-buttons {
    display: inline-block;
}

.action-buttons {
    float: right;
}

.list-group-item {
    margin-bottom: 20px;
    box-shadow: 8px 8px 6px -6px grey;
}

.badge {
    margin-right: 10px;
    color: black;
    height: 23px;
}

.top {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
}

.search-option {
    width: 120px;
    margin-right: 20px;
}

.same {
    display: inline-block;
}

.btn-primary {
    margin-left: 20px;
    background-color: #808080;
    border-color: #808080;
    margin-top: -3px;
    transition-duration: 0.4s;
}

.btn-primary:hover {
    background-color: transparent;
    color: black;
    transition-duration: 0.4s;
}

.but {
    height: 36px;
    font-weight: 38px;
    border-color: white;
    background-color: transparent;
    margin-left: 10px;
    box-shadow: 8px 8px 6px -6px white;
}

.fa-fw {
    font-size: 18px;
    color: #666666;
    transition-duration: 0.4s;
}

.fa-fw:hover {
    font-size: 24px;
    color: #666666;
    transition-duration: 0.4s;
}

.mybut {
    margin-top: 20px;
    margin-left: -10px;
    margin-bottom: 5px;
}