<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo" routerLink="/landlord-home"><img src="../../assets/images/logo.png" alt="fixit logo"
   />&nbsp;&nbsp;FiXiT</a>

  <button class="navbar-toggler" type="button"  (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target=".navbar-collapse"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="!isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dropdown" id="btn-dropdown" ngbDropdownToggle>Tickets</button>
          <div ngbDropdownMenu aria-labelledby="dropdown">
            <a class="dropdown-item" routerLink="/ticket-form">Create Ticket</a>
            <a class="dropdown-item" routerLink="/your-tickets/:id">View Tickets</a>
          </div>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-danger" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Log out</button>
      </li>
    </ul>
  </div>
</nav> -->
<app-navbar></app-navbar>
<div class="container">
  <div class="top">
    <h2>Your Tickets</h2>
  </div>
  <span *ngFor="let ticketByLandlordId of ticketsByLandlordId" class="list-group-item">
    <h3>Ticket ID:</h3>
    <div class="ticket-name" *ngIf="ticketByLandlordId.name != null">{{ticketByLandlordId.name}}</div>
    <div class="ticket-id" *ngIf="ticketByLandlordId.name == null">{{ticketByLandlordId._id}}</div><br>
    <h3 class="special">Unit Name:</h3>
    <div class="unit-name">{{ticketByLandlordId.unitName}}</div>
    <div class="mybut input-group-prepend">
      <button class="but" [routerLink]="['/edit-ticket', ticketByLandlordId._id]"><i placeholder="Edit" class="fas fa-pencil-alt fa-fw"></i></button>
      <button class="but" (click)="delete(ticketByLandlordId._id)"><i placeholder="Delete" class="far fa-trash-alt fa-fw"></i></button>
    </div>
  </span>
</div>
<app-footer></app-footer>