.container-fluid{
    background-image: url("../../assets/images/login-background.png");
    min-height: 100vh;
    background-size: cover;
}

.container{
    min-height: 100vh;
}

.login-form{
    margin: 0 auto;
    margin-top: 40%;
}

.logo{
    margin: 0 auto;
    margin-top: 10%;
}

h1 {
    color: white;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25pt;
}

label {
    color: white;
    font-family: 'Sarabun', sans-serif;
}