<div class="container-fluid">
  <div class="container text-center">
    <img src="../../assets/images/logo.png" alt="fixit logo" class="logo" />
    <h1>FiXiT</h1>



    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-6 offset-sm-1 offset-md-3">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
          <div id="user-data">
            <div class="form-group">
              <label for="type">User Type</label>
              <!-- <input type="text" id="type" class="form-control" name="type" formControlName="type"> -->
              <select type="text" class="form-control" id="type" name="type" formControlName="type">
                <!-- <option [value] = "0">Super User</option> -->
                <option [value] = "1">Adminstrator</option>
                <option [value] = "2">Landlord</option>
                <option [value] = "3">Tenant</option>
                <option [value] = "4">Contractor</option>
              </select>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" name="email" required formControlName="email" ngModel
                [email]="true" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <div style="color:#ff7a7a" class="help-block "
                *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">Please
                enter a valid username</div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" required formControlName="password">
              <div style="color:#ff7a7a" class="help-block "
                *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">Please
                enter a valid password</div>
            </div>
          </div>
          <ngb-alert *ngIf="successMessage" type="danger" (close)="successMessage = null">{{ successMessage }}
          </ngb-alert>
          <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Submit</button>

        </form>
      </div>
    </div>



  </div>
</div>