<app-navbar></app-navbar>
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit()" [formGroup]="editLandlordForm">
          <div class="landlord">
              <h2>Edit Landlord</h2>
			  
			  <div style="color:#ff7a7a" class="help-block " *ngIf="editLandlordForm.controls['landlordName'].touched && editLandlordForm.controls['landlordName'].invalid">This field can not be blank</div>
              <div class="form-group">
                  <label class="sr-only" for="landlordName">Name</label>
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><i class="far fa-user fa-fw" title="Landlord Name"></i></div>
                    </div>
                    <input type="text" class="form-control" id="landlordName" name="landlordName" required formControlName="landlordName"
                      placeholder="Name" >
                  </div>
                </div>
			  
			  <div style="color:#ff7a7a" class="help-block " *ngIf="editLandlordForm.controls['landlordPhoneWork'].touched && editLandlordForm.controls['landlordPhoneWork'].invalid">Enter a valid numbers</div>
                <div class="form-group">
                    <label class="sr-only" for="landlordPhoneWork">Phone(work)</label>
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-phone-volume fa-fw" title="Phone (work)"></i></div>
                      </div>
                      <input type="text" class="form-control" id="landlordPhoneWork" name="landlordPhoneWork" required
                        formControlName="landlordPhoneWork" placeholder="Phone (work)" ngModel pattern="[0-9]*">
                    </div>
                  </div>
			  
			  <div style="color:#ff7a7a" class="help-block " *ngIf="editLandlordForm.controls['landlordPhoneHome'].touched && editLandlordForm.controls['landlordPhoneHome'].invalid">Only numbers are allow</div>
                  <div class="form-group">
                    <label class="sr-only" for="landlordPhoneHome">Phone(home)</label>
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-phone fa-fw" title="Phone (home)"></i></div>
                      </div>
                      <input type="text" class="form-control" id="landlordPhoneHome" name="landlordPhoneHome" required
                        formControlName="landlordPhoneHome" placeholder="Phone (home)" ngModel pattern="[0-9]*">
                    </div>
                  </div>
			  
			  <div style="color:#ff7a7a" class="help-block " *ngIf="editLandlordForm.controls['landlordPhoneMobile'].touched && editLandlordForm.controls['landlordPhoneMobile'].invalid">Only numbers are allow</div>
                  <div class="form-group">
                    <label class="sr-only" for="landlordPhoneMobile">Phone(mobile)</label>
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-mobile-alt fa-fw" title="Phone(mobile)"></i></div>
                      </div>
                      <input type="text" class="form-control" id="landlordPhoneMobile" name="landlordPhoneMobile" required
                        formControlName="landlordPhoneMobile" placeholder="Phone (mobile)" ngModel pattern="[0-9]*">
                    </div>
                  </div>
			  
			  <div style="color:#ff7a7a" class="help-block " *ngIf="editLandlordForm.controls['email'].touched && editLandlordForm.controls['email'].invalid">Enter a valid email</div>
                  <div class="form-group">
					  <label class="sr-only" for="email">E-mail</label>
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fas fa-envelope fa-fw" title="Landlord's email"></i></div>
                        </div>
                        <input type="email" class="form-control" id="email" name="email" required formControlName="email"
                          placeholder="E-mail" ngModel pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                      </div>
                    </div>
			  
			  <div style="color:#ff7a7a" class="help-block " *ngIf="editLandlordForm.controls['password'].touched && editLandlordForm.controls['password'].invalid">This field can not be blank</div>
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-key fa-fw" title="Password"></i></div>
                          </div>
                          <input type="password" class="form-control" id="password" name="password" required formControlName="password"
                            placeholder="Password">
                        </div>
                    </div>
                  </div>
          <hr/>
                  <div class="bank">
                      <h2>Bank Details</h2>
					  
					  <div style="color:#ff7a7a" class="help-block " *ngIf="editLandlordForm.controls['bankName'].touched && editLandlordForm.controls['bankName'].invalid">This field can not be blank</div>
                    <div class="form-group">
                        <label class="sr-only" for="bankName">Bank Name</label>
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-university fa-fw" title="Bank Name"></i></div>
                          </div>
                          <input type="text" class="form-control" id="bankName" name="bankName" required formControlName="bankName"
                            placeholder="Bank Name">
                        </div>
                    </div>
					  
					  <div style="color:#ff7a7a" class="help-block " *ngIf="editLandlordForm.controls['bankAddress'].touched && editLandlordForm.controls['bankAddress'].invalid">This field can not be blank</div>
                    <div class="form-group">
                        <label class="sr-only" for="bankAddress">Bank Address</label>
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-map-pin fa-fw" title="Bank Address"></i></div>
                          </div>
                          <input type="text" class="form-control" id="bankAddress" name="bankAddress" required formControlName="bankAddress"
                            placeholder="Bank Address">
                        </div>
                    </div>
					  
					  <div style="color:#ff7a7a" class="help-block " *ngIf="editLandlordForm.controls['bic'].touched && editLandlordForm.controls['bic'].invalid">This field can not be blank</div>
                    <div class="form-group">
                        <label class="sr-only" for="bic">BIC</label>
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fab fa-btc fa-fw" title="BIC"></i></div>
                          </div>
                          <input type="text" class="form-control" id="bic" name="bic" required formControlName="bic"
                            placeholder="BIC">
                        </div>
                    
                    </div>
					  
					  <div style="color:#ff7a7a" class="help-block " *ngIf="editLandlordForm.controls['iban'].touched && editLandlordForm.controls['iban'].invalid">This field can not be blank</div>
                    <div class="form-group">
                        <label class="sr-only" for="iban">IBAN</label>
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-italic fa-fw" title="IBAN"></i></div>
                          </div>
                          <input type="text" class="form-control" id="iban" name="iban" required formControlName="iban"
                            placeholder="IBAN">
                        </div>
                    </div>
					  
					  <div style="color:#ff7a7a" class="help-block " *ngIf="editLandlordForm.controls['phoneBank'].touched && editLandlordForm.controls['phoneBank'].invalid">Only numbers are allow</div>
                    <div class="form-group">
                        <label class="sr-only" for="phoneBank">Phone (bank)</label>
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-blender-phone fa-fw" title="Phone (bank)"></i></div>
                          </div>
                          <input type="text" class="form-control" id="phoneBank" name="phoneBank" required formControlName="phoneBank"
                            placeholder="Phone (bank)" ngModel pattern="[0-9]*">
                        </div>
                    </div>
					  
					  <div style="color:#ff7a7a" class="help-block " *ngIf="editLandlordForm.controls['emailBank'].touched && editLandlordForm.controls['emailBank'].invalid">Enter a valid email</div>
                    <div class="form-group">
                        <label class="sr-only" for="emailBank">E-mail (bank)</label>
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-envelope-square fa-fw" title="E-mail (bank)"></i></div>
                          </div>
                          <input type="email" class="form-control" id="emailBank" name="emailBank" required formControlName="emailBank"
                            placeholder="E-mail (bank)" ngModel pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        </div>
                    </div>
					  
					  <div style="color:#ff7a7a" class="help-block " *ngIf="editLandlordForm.controls['fax'].touched && editLandlordForm.controls['fax'].invalid">Only numbers are allow</div>
                    <div class="form-group">
                        <label class="sr-only" for="fax">Fax</label>
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-fax fa-fw" title="Fax"></i></div>
                          </div>
                          <input type="email" class="form-control" id="fax" name="fax" required formControlName="fax"
                            placeholder="Fax" ngModel pattern="[0-9]*">
                        </div>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="submit" [disabled]="!editLandlordForm.valid">Edit</button>
			<br>
				  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
                </form>
          
      </div>
    </div>
  </div>
  <app-footer></app-footer>