<app-navbar></app-navbar>
<div class="container" *ngIf="ticketDetails !=null && ticketDetails != undefined">
    <div class="top">  
  <h2>Details of Ticket</h2>

  </div>
      <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Ticket ID</div>
                <div class="card-body">{{ticketDetails._id}}</div>
              </div>
  <div class="card">
    <div class="card-header">Subject</div>
    <div class="card-body">{{ticketDetails.subject}}</div>
  </div>

  <div class="card">
    <div class="card-header">Category</div>
    <div class="card-body">{{ticketDetails.category}}</div>
  </div>

  <div class="card">
    <div class="card-header">Description</div>
    <div class="card-body">{{ticketDetails.description}}</div>
  </div>

  <!-- <div class="card" *ngIf="ticketDetails.status != 'CREATED' && ticketDetails.status != 'OPEN'">
    <div class="card-header">Contractor Assigned</div>
    <div class="card-body">{{ticketDetails.contractor_id}}</div>
  </div> -->
</div>
<div class="col">
  <div class="card">
    <div class="card-header">Unit Name</div>
    <div class="card-body">{{ticketDetails.unitName}}</div>
  </div>

  <div class="card">
    <div class="card-header">Phone</div>
    <div class="card-body">{{ticketDetails.phone}}</div>
  </div>

  <div class="card">
    <div class="card-header">Date Available</div>
    <div class="card-body">{{ticketDetails.dateAvailable}}</div>
  </div>

  <div class="card">
    <div class="card-header">Time Available</div>
    <div class="card-body">{{ticketDetails.hourAvailable}}</div>
  </div>
</div>
</div>

<div class="same">
    <button class="but" [routerLink]="['/edit-ticket', ticketDetails._id]" *ngIf="userRole == 1 && ticketDetails.status != 'CLOSED'"><i placeholder="Edit"
      class="fas fa-pencil-alt fa-fw"></i></button>
    <button class="btn btn-primary" *ngIf="ticketDetails.status == 'CREATED'" (click)="approve()">Approve</button>
    <button class="btn btn-success" *ngIf="userRole == 4 && ticketDetails.status == 'ASSIGNED'" (click)="accept()">Accept</button>
    <button class="btn btn-danger" *ngIf="userRole == 4 && ticketDetails.status == 'ASSIGNED'" (click)="reject()">Reject</button>
    <button class="btn btn-dark" *ngIf="userRole == 4 && ticketDetails.status == 'IN_PROGRESS'" [routerLink]="['/job-report-form', ticketDetails._id]">Fill in Job Report</button>
    <button class="btn btn-dark" *ngIf="userRole == 1 && ticketDetails.status == 'FINISHED'" (click)="reassign()">Reassign</button>
    <button class="btn btn-dark" *ngIf="userRole == 1 && ticketDetails.status == 'FINISHED'" (click)="close()">Close Ticket</button>
  </div>

<div class="same">
  <h2>Ticket Status History</h2>
  <span *ngFor="let status of ticketDetails.status_history">
    <div class="card">
      <div class="card-header">{{status.time | date:'medium'}}</div>
      <div class="card-body">{{status.content}}</div>
      <div class="style" *ngIf="status.jobReport">
          Time Finished: <div>{{status.jobReport.date_completed}} {{status.jobReport.time_completed}}</div>
          Description: <div>{{status.jobReport.description}}</div>
      </div>
    </div>
  </span>
</div>
  
</div>
<app-footer></app-footer>