.card {
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 8px 8px 6px -6px grey;
}

.card-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    color: #696969;
    text-shadow: 2px 2px 2px white;
    text-align: center;
}

.card-body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #696969;
    text-shadow: 2px 2px 2px white;
    text-align: center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #696969;
    text-shadow: 2px 2px 2px white;
}

.top {
    display: inline-block;
    margin-top: 30px;
}

.same {
    margin: 0 auto;
    margin-top: 45px;
    text-align: center;
}


.btn-primary, .btn-success, .btn-danger, .btn-dark {
    margin-left: 20px;
    background-color: #808080;
    border-color: #808080;
    margin-top: -3px;
    transition-duration: 0.4s;
}

.btn-primary:hover, .btn-success:hover, .btn-danger:hover, .btn-dark:hover {
    background-color: transparent;
    color: black;
    transition-duration: 0.4s;
}

.but {
    height: 36px;
    font-weight: 38px;
    background-color: #e7e7e7;
    margin-left: 10px;
    border-color: #c9c9c9;
    box-shadow: 8px 8px 6px -6px 808080;
    transition-duration: 0.4s;
}

.but:hover {
    
    background-color: white;
    transition-duration: 0.4s;
    
}

.fa-fw {
    font-size: 18px;
    color: #666666;
    transition-duration: 0.4s;
}

.fa-fw:hover {
    font-size: 20px;
    color: #666666;
    transition-duration: 0.4s;
}

.newsame {
    margin-top: 15px;
    margin-bottom: 20px;
}

.style {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: #696969;
    text-shadow: 2px 2px 2px white;
    text-align: center;
    margin-bottom: 20px;
}