<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="propertyForm">
        <div class="property">
          <h2>Add New Property</h2>

          <div style="color:#ff7a7a" class="help-block "
            *ngIf="propertyForm.controls['unitName'].touched && propertyForm.controls['unitName'].invalid">This field
            can not be blank</div>

          <div class="form-group">
            <label class="sr-only" for="unitName">Select Landlord</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user fa-fw" title="Select Landlord"></i></div>
              </div>
              <select type="text" class="form-control" id="landlord" name="landlord" required
                formControlName="landlord">
                <option [value]="null">Select a Landlord</option>
                <option *ngFor="let landlord of landlords;" [value]="landlord._id">{{landlord.landlord_name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="sr-only" for="unitName">Unit Name</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user fa-fw" title="Unit Name"></i></div>
              </div>
              <input type="text" class="form-control" id="unitName" name="unitName" required formControlName="unitName"
                placeholder="Unit Name">
            </div>
          </div>

          <div style="color:#ff7a7a" class="help-block "
            *ngIf="propertyForm.controls['address1'].touched && propertyForm.controls['address1'].invalid">This field
            can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="address1">Address 1</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-home fa-fw" title="Address 1"></i></div>
              </div>
              <input type="text" class="form-control" id="address1" name="address1" required formControlName="address1"
                placeholder="Address 1">
            </div>
          </div>

          <div style="color:#ff7a7a" class="help-block "
            *ngIf="propertyForm.controls['address2'].touched && propertyForm.controls['address2'].invalid">This field
            can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="address2">Address 2</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-home fa-fw" title="Address 2"></i></div>
              </div>
              <input type="text" class="form-control" id="address2" name="address2" required formControlName="address2"
                placeholder="Address 2">
            </div>
          </div>

          <div style="color:#ff7a7a" class="help-block "
            *ngIf="propertyForm.controls['address3'].touched && propertyForm.controls['address3'].invalid">This field
            can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="address3">Address 3</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-home fa-fw" title="Address 3"></i></div>
              </div>
              <input type="text" class="form-control" id="address3" name="address3" required formControlName="address3"
                placeholder="Address 3">
            </div>
          </div>

          <div style="color:#ff7a7a" class="help-block "
            *ngIf="propertyForm.controls['unitType'].touched && propertyForm.controls['unitType'].invalid">This field
            can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="unitType">Unit Type</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-igloo fa-fw" title="Unit Type"></i></div>
              </div>
              <select type="text" class="form-control" id="unitType" name="unitType" required
                formControlName="unitType">
                <option [value]="null">Select a Unit Type</option>
                <option>Residential</option>
                <option>Commercial</option>
              </select>
            </div>
          </div>

          <div style="color:#ff7a7a" class="help-block "
            *ngIf="propertyForm.controls['carSpaces'].touched && propertyForm.controls['carSpaces'].invalid">Enter a
            valid number</div>
          <div class="form-group">
            <label class="sr-only" for="carSpaces">Car Spaces</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-car fa-fw" title="Car Spaces"></i></div>
              </div>
              <input type="text" class="form-control" id="carSpaces" name="carSpaces" required
                formControlName="carSpaces" placeholder="Car Spaces" ngModel ngModel pattern="[0-9]*">
            </div>
          </div>


          <div style="color:#ff7a7a" class="help-block "
            *ngIf="propertyForm.controls['leasedSpaces'].touched && propertyForm.controls['leasedSpaces'].invalid">Enter
            a valid number</div>
          <div class="form-group">
            <label class="sr-only" for="leasedSpaces">Leased Spaces</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fab fa-angellist fa-fw" title="Leased Spaces"></i></div>
              </div>
              <input type="text" class="form-control" id="leasedSpaces" name="leasedSpaces" required
                formControlName="leasedSpaces" placeholder="Leased Spaces" pattern="[0-9]*" ngModel>
            </div>
          </div>

          <div style="color:#ff7a7a" class="help-block "
            *ngIf="propertyForm.controls['financialYearStart'].touched && propertyForm.controls['financialYearStart'].invalid">
            This field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="financialYearStart">Financial Year (Start)</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="far fa-play-circle fa-fw" title="Financial Year (Start)"></i>
                </div>
              </div>
              <input type="date" class="form-control" id="financialYearStart" name="financialYearStart" required
                formControlName="financialYearStart" placeholder="Financial Year (Start)">
            </div>
          </div>

          <div style="color:#ff7a7a" class="help-block "
            *ngIf="propertyForm.controls['financialYearEnd'].touched && propertyForm.controls['financialYearEnd'].invalid">
            This field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="financialYearEnd">Financial Year (End)</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="far fa-stop-circle fa-fw" title="Financial Year (End)"></i>
                </div>
              </div>
              <input type="date" class="form-control" id="financialYearEnd" name="financialYearEnd" required
                formControlName="financialYearEnd" placeholder="Financial Year (End)">
            </div>
          </div>

          <div style="color:#ff7a7a" class="help-block "
            *ngIf="propertyForm.controls['vatNo'].touched && propertyForm.controls['vatNo'].invalid">This field can not
            be blank</div>
          <div class="form-group">
            <label class="sr-only" for="vatNo">VAT Registration No.</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fab fa-vuejs fa-fw" title="VAT Registration No."></i></div>
              </div>
              <input type="text" class="form-control" id="vatNo" name="vatNo" required formControlName="vatNo"
                placeholder="VAT Registration No.">
            </div>
          </div>


          <div style="color:#ff7a7a" class="help-block "
            *ngIf="propertyForm.controls['email'].touched && propertyForm.controls['email'].invalid">Please enter a
            valid email</div>
          <div class="form-group">
            <label class="sr-only" for="email">E-mail</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-envelope fa-fw" title="E-mail"></i></div>
              </div>
              <input type="email" class="form-control" id="email" name="email" required formControlName="email"
                placeholder="E-mail" ngModel [email]="true" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            </div>
          </div>

          <div style="color:#ff7a7a" class="help-block "
            *ngIf="propertyForm.controls['webAddress'].touched && propertyForm.controls['webAddress'].invalid">This
            field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="webAddress">Web Address</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fab fa-wordpress fa-fw" title="Web Adress"></i></div>
              </div>
              <input type="text" class="form-control" id="webAddress" name="webAddress" required
                formControlName="webAddress" placeholder="Web Address">
            </div>
          </div>

          <div style="color:#ff7a7a" class="help-block "
            *ngIf="propertyForm.controls['financialManagement'].touched && propertyForm.controls['financialManagement'].invalid">
            This field can not be blank</div>
          <div class="form-group">
            <label class="sr-only" for="financialManagement">Financial Management</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="far fa-user fa-fw" title="Financial Management"></i></div>
              </div>
              <select type="text" class="form-control" id="financialManagement" name="financialManagement" required
                formControlName="financialManagement">
                <option [value]="null">Select an Option</option>
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit" [disabled]="!propertyForm.valid || checkValid()">Submit</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>